$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

$primery-light-color: #ffffff;

$light-bg-color: #f5f4fa;
$dark-bg-color: #2f303a;
$hero-bg-color: #c4c4c4;

$primery-text-color: #757575;
$titels-color: #212121;

$accent-color: #2196f3;

$icons-color: #afb1b8;
$footer-links-color: rgba(255, 255, 255, 0.6);
$footer-social-btn-bgc: rgba(255, 255, 255, 0.1);
$top-line-color: #ececec;
$border-color: #eeeeee;
$about-title-bgc: rgba(47, 48, 58, 0.8);

$list-item-gap: 30px;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
